body{
  font-size: 14px;
}

input[type="time"] {
  font-size: 13px;
  color: black;
}

.top-page{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.timeInputsInGridLeft{
  margin-right: 5px;
}

.timeInputsInGridRight{
  margin-left: 5px;
}

.grid{
  display: grid;
  grid-template-rows: 40px;
  /* grid-template-columns: 70px 80px 110px 85px 78px 230px 230px 230px 78px 70px 100px; */
  grid-template-columns: 1245px;
  grid-auto-rows: 40px;
}

.row-elt{
  display:grid;
  grid-template-columns:100px 80px 160px 85px 70px 220px 220px 220px 70px 70px 100px;
  grid-template-rows:40px;
}

.grid-element{
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-headings{
  background-color: lightgray;
}


.green{/*GREEN: rgb(144, 238, 144); break good to go*/
  background-color: rgb(144, 238, 144);
}

.red{/*RED: rgb(198, 58, 58); break is ugent and should happen soon*/
  background-color: rgb(198, 58, 58);
}
.dark-red{
  background-color: rgb(121, 32, 32);
}

.blue{/*BLUE: rgb(152, 184, 215); break has been completed*/
  background-color: rgb(152, 184, 215);
}

.light-grey{/*LIGHT GREY: rgb(193, 193, 193); must give other type of break first*/
  background-color: rgb(193, 193, 193);
}
.grey{
  background-color: grey;
}
.white{
  background-color: white;
}
.salmon{
  background-color: salmon;
}



.progress-bar{
  position: absolute;
  height:100%;
  top: 0;
  left:0;
  z-index: 1;
}

.progress-bar-background{
  position: relative;
}

.centered-time-content{
  z-index: 2;
}

.checkbox-container {
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.checkbox input {
  display: none;
}

.checkbox::after {
  content: "";
  font-size: 16px;
  display: none;
}

.checkbox input:checked + .checkbox::after {
  content: "✔";
  display: block;
  color: #333;
}

.department-nav-bar {
  display: flex;
  justify-content: space-between; /* Ensures even spacing */
  width: 100vw; /* Takes full screen width */
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.department-spectacle {
  background-color: rgb(175, 145, 91);
  border: 2px solid #111;
  min-width: 100px; /* Ensures it does not shrink below 100px */
  flex-grow: 1; /* Allows it to grow */
  text-align: center; /* Centers text */
  padding: 10px;
}

.department-element {
  background-color: rgb(228, 198, 142);
  border: 2px solid #111;
  max-width:200px;
  flex-rgow: 1; /* Distributes available space evenly */
  text-align: center;
  padding: 10px;
}

.department-element:hover {
  background-color: rgb(233, 211, 172);
}

.department-element.abc {
  background-color: rgb(190, 54, 118);
}