/* The different colors we will use throughout the app */
.green{background-color: rgb(144, 238, 144)}/*break good to go*/
.red{background-color: rgb(198, 58, 58)}/*break is ugent and should happen soon*/
.dark-red{background-color: rgb(121, 32, 32)}/*break is overdue*/
.blue{background-color: rgb(152, 184, 215)}/*break has been completed*/
.light-grey{background-color: rgb(193, 193, 193)}/*must give other type of break first*/
.grey{background-color: grey}
.white{background-color: white}
.salmon{background-color: salmon}

/* GENERAL STYLING */
html{font-size: 13px}

.inline{display: inline}

.top-page{
  display: flex;
  justify-content: space-around;
  font-size: 20px; 
}

/* STRUCTURES ONLY THE EMPLOYEE GRID */
.grid{
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1245px;
  grid-auto-rows: 40px;
}

.row-elt{
  display:grid;
  grid-template-columns:100px 80px 160px 85px 70px 220px 220px 220px 70px 70px 100px;
}

.grid-element{
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STYLING FOR THE GRID ELEMENTS THAT CONTAIN TIME INPUTS */
.timeInputsInGridLeft{
  margin-right: 5px;
}

.timeInputsInGridRight{
  margin-left: 5px;
}

.centered-time-content{z-index: 1} /*When progress bar overflows, time elements and dash will stay ontop*/

.progress-bar{
  position: absolute;
  height:100%;
  top: 0;
  left:0;
  z-index: 1;
}

.progress-bar-background{
  position: relative;
}



.checkbox-container {
  cursor: pointer;
}




/* All THE STYLING FOR THE DEPARTMENT MENU COMPONENT */
.department-nav-bar {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.department-element {
  background-color: rgb(228, 198, 142);
  border: 2px solid #111;
  max-width:200px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.department-element:hover {
  background-color: rgb(233, 211, 172);
}

.department-element.selected {
  background-color: rgb(190, 54, 118);
}
.department-element.label {
  background-color: rgb(175, 145, 91);
}

.search-bar{
  width: 300px;
  margin-bottom: 30px;
  border-radius: 25px;
}